.padAIHomeScreenUserBooks-text{
    margin:0px;
    text-align: left;

    margin: 0px;
    font-size: 13px;
    width: 104px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    /* margin: 0 5px 0 5px; */
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.padAIHomeScreenUserBooksImage{
    margin: 10px;
    margin-top: 0px;
}
.author-text{
    font-size: 13px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    text-align: left;
    color: #a1a1a1;
}
.padAIHomeScreenUserBooks-text-container{
    padding: 1px 10px;
}

.updated-card{
    margin:6px;height: 215px !important;
    width: 94% !important;
}
.updated-img-card{
    object-fit: fill !important;
}
.updated-img-card-container{
    height: 175px !important;
    background: none !important;
}
.updated-card-title{
    height: 40px !important;
   
}
.updated-card-title-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 85%;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: #000;
    padding: 5px 0px;
    margin: 0px;
}