.padAIvectorTwoBg{
    scale: 1.5;
}
.padAIHomeSection-Container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
.padAIvectorBookIcon{
    height: 130px;
}

.padAIhomeScreen-content{
    position: relative;
    --background-color: transparent !important;
    --background: transparent !important;
    z-index: 1;
}
.padAIHomesubTitle,
.padAIHomebigTitle,
.padAIHomesemisubTitle{
    margin: 5px 10px;
    text-align: center;
}


.padAIHomesubTitle{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
.padAIHomebigTitle{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}
.padAIHomesemisubTitle{
    font-size: 13px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.padAIHome-dropdown-section{
    width: 100%;
    padding: 1px 20px;
}
.padAIHomeScreenDropdown{
    padding: 0px;
    border: 1px solid #bfbfbf;
    height: 37px;
    display: flex;
    border-radius: 6px;
}
.padAIHomeContinueBtn{
    max-width: 150px;
    margin: 15px auto;
}
.padAIHomeScreenUserGreeting{
    padding: 10px 20px;
}
.padAIHomeScreenUserGreetingText{
    font-size: 21px;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    padding: 0px;
    margin: 0px;
    text-transform: capitalize;
}
.padAIHomeScreenUserGreeting-text-subtitle{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    padding: 0px;
    margin: 0px;
}
.padAIHomeScreenUserBooksFilter{
    width: 100%;
    padding: 1px 20px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 10px;
}
.padAIHomeScreenUserBooksFilter-text{
    font-size: 12px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.padAIHomeScreenUserBooksFilter-text-active{
    border-bottom: 2px solid #000000;
}

.padAIHomeSection-Container-Row{
    width: 100% !important;
}

.footer-container{
    padding: 5px 1px;
}
.footer-icon-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.footer-icon-text{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    text-transform: capitalize;
}
.footer-icon{
    font-size: 25px;
    color: #7f3181;
}