.padAIcontentAIPanel-container {
    position: absolute;
    bottom: 7px;
    left: 0px;
    right: 0px;
    width: 98%;
    margin: 0px auto;
    background: #f1f1f1;
    border-radius: 30px;
    border: 1px solid #cbcbcb;
}
ion-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1px !important;
}
.footericons{
    font-size: 18px;
    color: #000000;
}

IonTextarea,
ion-textarea {
    padding: 4px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 0px !important;
    --border-style: solid;
    --highlight-color-focused: transparent;
}